.gradle/
.idea/
/.idea/workspace.xml
/.idea/libraries
build/
/build
app/build/


.gitignore
.gradle/4.1/fileContent/
.gradle/4.1/javaCompile/
app/libs/
build/android-profile/profile-2018-02-28-16-11-56-116.json
build/android-profile/profile-2018-02-28-16-11-56-116.rawproto
build/android-profile/profile-2018-02-28-16-15-10-914.json
build/android-profile/profile-2018-02-28-16-15-10-914.rawproto
build/android-profile/profile-2018-02-28-16-18-28-429.json
build/android-profile/profile-2018-02-28-16-18-28-429.rawproto
build/android-profile/profile-2018-02-28-16-21-59-103.json
build/android-profile/profile-2018-02-28-16-21-59-103.rawproto
build/android-profile/profile-2018-02-28-16-22-36-783.json
build/android-profile/profile-2018-02-28-16-22-36-783.rawproto
build/android-profile/profile-2018-02-28-16-26-15-616.json
build/android-profile/profile-2018-02-28-16-26-15-616.rawproto
build/android-profile/profile-2018-02-28-16-27-06-580.json
build/android-profile/profile-2018-02-28-16-27-06-580.rawproto
build/android-profile/profile-2018-02-28-16-28-59-843.json
build/android-profile/profile-2018-02-28-16-28-59-843.rawproto
build/android-profile/profile-2018-02-28-16-32-01-564.json
build/android-profile/profile-2018-02-28-16-32-01-564.rawproto
build/kotlin/
